mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes).bg-wrap
		+e.container.container
			+img('img/bats.png').bg-img
			//- +img('img/fire.png').fire
			+b.section-title.text-center
				h1!= data.title
				h5!= data.subtitle
				p!= data.text
				+btnBase('присоединиться')
			+e.row-info.row
				+e.col-info.col-auto
					+e.info 
						+polygon()
						+img('img/svg/game.svg')
						p!= data.game
				+e.col-info.col-auto
					+e.info 
						+polygon()
						+img('img/svg/game.svg')
						p!= data.support
			+e.row-wrap
				.row.text-center
					+e.col-img.col-xl-4.d-none.d-xl-block
						+img('img/header-img-1.png')
					+e.col-img.col-xl-4
						+img('img/header-img-2.png')
					+e.col-img.col-xl-4.d-none.d-xl-block
						+img('img/header-img-3.png')
	// end headerBlock