mixin sWelcome(data)
	// start sWelcome
	+b.SECTION.sWelcome.section#sWelcome&attributes(attributes)
		+e.container.container
			+img('img/threeBats.png').left
			+img('img/threeBats.png').right
			//- +img('img/fire-solid.png').fire
			+b.section-title.text-center
				h2!= data.title
				h5!= data.subtitle
				p!= data.text
			+e.row.row
				each item in data.sWelcomeItems
					.col-sm-6.col-lg-4
						+e.item
							.h2!= item.itemTitle
							p!= item.itemText
				//- +item('СКОРО', 'дата запуска pre-sale')
				//- +item('4 999', 'количество nft')
				//- +item('СКОРО', 'стоимость nft')
			+e.wrap.text-center
				+img('img/sWelcome-img.png')
				h5!= data.subText
				+btnBase()
			+e.slider--js.swiper
				.swiper-wrapper
					mixin sliderItem(i)
						+e.slide.swiper-slide
							+img(`img/sWelcome-slider-${i}.jpg`)
					- for (i = 1; i <= 8; i++)
						+sliderItem(i)
	// end sWelcome